<Type Name="System" FullName="Microsoft.Office.Interop.Word.System">
  <Metadata>
    <Meta Name="ms.openlocfilehash" Value="93f16faece022e960122bec04316f252825147e5" />
    <Meta Name="ms.sourcegitcommit" Value="9a6162e1f2c2145e95970c1fdb1ddcac1366d42f" />
    <Meta Name="ms.translationtype" Value="MT" />
    <Meta Name="ms.contentlocale" Value="fr-FR" />
    <Meta Name="ms.lasthandoff" Value="07/19/2018" />
    <Meta Name="ms.locfileid" Value="20668835" />
  </Metadata>
  <TypeSignature Language="C#" Value="public interface System" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract System" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Office.Interop.Word.System" />
  <TypeSignature Language="VB.NET" Value="Public Interface System" />
  <TypeSignature Language="C++ CLI" Value="public interface class System" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
    <AssemblyVersion>15.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces />
  <Attributes>
    <Attribute>
      <AttributeName>System.Runtime.InteropServices.Guid("00020935-0000-0000-C000-000000000046")</AttributeName>
    </Attribute>
    <Attribute>
      <AttributeName>System.Runtime.InteropServices.TypeLibType(4288)</AttributeName>
    </Attribute>
  </Attributes>
  <Docs>
    <summary>Contient des informations sur le système de votre ordinateur.</summary>
    <remarks>
      <para>Utiliser le <see cref="P:Microsoft.Office.Interop.Word._Application.System" /> propriété permet de renvoyer l’objet <b>System</b> .</para>
      <para />
    </remarks>
  </Docs>
  <Members>
    <Member MemberName="Application">
      <MemberSignature Language="C#" Value="public Microsoft.Office.Interop.Word.Application Application { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.Office.Interop.Word.Application Application" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.Application" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property Application As Application" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Microsoft::Office::Interop::Word::Application ^ Application { Microsoft::Office::Interop::Word::Application ^ get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(1000)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(1000)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.Office.Interop.Word.Application</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Renvoie un <see cref="T:Microsoft.Office.Interop.Word.Application" /> object qui représente l’application Microsoft Word.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ComputerType">
      <MemberSignature Language="C#" Value="public string ComputerType { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string ComputerType" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.ComputerType" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property ComputerType As String" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property System::String ^ ComputerType { System::String ^ get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(12)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(12)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Vous avez demandé de l’aide sur un mot-clé utilisé uniquement sur Macintosh. Pour plus d’informations sur ce mot clé, consultez l’aide incluse avec Microsoft Office Édition Macintosh.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Connect">
      <MemberSignature Language="C#" Value="public void Connect (string Path, ref object Drive, ref object Password);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void Connect([in]string Path, [in]object&amp; Drive, [in]object&amp; Password) runtime managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Office.Interop.Word.System.Connect(System.String,System.Object@,System.Object@)" />
      <MemberSignature Language="VB.NET" Value="Public Sub Connect (Path As String, Optional ByRef Drive As Object, Optional ByRef Password As Object)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(102)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="Path" Type="System.String" />
        <Parameter Name="Drive" Type="System.Object&amp;" RefType="ref" />
        <Parameter Name="Password" Type="System.Object&amp;" RefType="ref" />
      </Parameters>
      <Docs>
        <param name="Path">
          <b>String</b>obligatoire. Le chemin d’accès du lecteur réseau (par exemple, «\\Project\Info »).</param>
        <param name="Drive">Facultatif <b>Object</b>. Nombre correspondant à la lettre que vous voulez affecter au lecteur réseau, où 0 (zéro) correspond à la première lettre de lecteur disponible, 1 correspond à la deuxième lettre de lecteur disponible, etc. Si vous ne spécifiez pas cet argument, la prochaine lettre de lecteur disponible est utilisée.</param>
        <param name="Password">Facultatif <b>Object</b>. Mot de passe, si le lecteur réseau est protégé par un mot de passe.</param>
        <summary>Établit une connexion à un lecteur réseau.</summary>
        <remarks>
          <para>
            <b>Sécurité</b>   Évitez d’utiliser des mots de passe codés en dur dans vos applications. Si un mot de passe est requis dans une procédure, demander le mot de passe de l’utilisateur, stockez-le dans une variable et ensuite utiliser la variable dans votre code.</para>
          <para>Utiliser le <see cref="P:Microsoft.Office.Interop.Word._Application.Dialogs" /> propriété avec la constante <b>wdDialogConnect</b> pour afficher la boîte de dialogue connecter à un lecteur réseau.</para>
          <para />
        </remarks>
      </Docs>
    </Member>
    <Member MemberName="Country">
      <MemberSignature Language="C#" Value="public Microsoft.Office.Interop.Word.WdCountry Country { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype Microsoft.Office.Interop.Word.WdCountry Country" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.Country" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property Country As WdCountry" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Microsoft::Office::Interop::Word::WdCountry Country { Microsoft::Office::Interop::Word::WdCountry get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(5)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(5)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.TypeLibFunc(64)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.Office.Interop.Word.WdCountry</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Réservé à une utilisation interne.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="CountryRegion">
      <MemberSignature Language="C#" Value="public Microsoft.Office.Interop.Word.WdCountry CountryRegion { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype Microsoft.Office.Interop.Word.WdCountry CountryRegion" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.CountryRegion" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property CountryRegion As WdCountry" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Microsoft::Office::Interop::Word::WdCountry CountryRegion { Microsoft::Office::Interop::Word::WdCountry get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(103)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(103)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.Office.Interop.Word.WdCountry</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Renvoie la désignation de pays/région du système.</summary>
        <value>To be added.</value>
        <remarks>
          <para>
            <see cref="T:Microsoft.Office.Interop.Word.WdCountry" />peut être une de ces constantes <b>WdCountry</b> . </para>
          <para>
            <b>wdArgentina </b>
          </para>
          <para>
            <b>wdCanada </b>
          </para>
          <para>
            <b>wdChina </b>
          </para>
          <para>
            <b>wdFinland </b>
          </para>
          <para>
            <b>wdGermany </b>
          </para>
          <para>
            <b>wdItaly </b>
          </para>
          <para>
            <b>wdKorea </b>
          </para>
          <para>
            <b>wdMexico </b>
          </para>
          <para>
            <b>wdNorway </b>
          </para>
          <para>
            <b>wdSpain </b>
          </para>
          <para>
            <b>wdTaiwan </b>
          </para>
          <para>
            <b>wdUS</b>
          </para>
          <para>
            <b>wdBrazil</b>
          </para>
          <para>
            <b>wdChile</b>
          </para>
          <para>
            <b>wdDenmark</b>
          </para>
          <para>
            <b>wdFrance</b>
          </para>
          <para>
            <b>wdIceland</b>
          </para>
          <para>
            <b>wdJapan</b>
          </para>
          <para>
            <b>wdLatinAmerica</b>
          </para>
          <para>
            <b>wdNetherlands</b>
          </para>
          <para>
            <b>wdPeru</b>
          </para>
          <para>
            <b>wdSweden</b>
          </para>
          <para>
            <b>wdUK</b>
          </para>
          <para>
            <b>wdVenezuela</b>
          </para>
          <para />
        </remarks>
      </Docs>
    </Member>
    <Member MemberName="Creator">
      <MemberSignature Language="C#" Value="public int Creator { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 Creator" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.Creator" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property Creator As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int Creator { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(1001)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(1001)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Renvoie un entier 32 bits qui indique l'application dans laquelle l'objet spécifié a été créé.</summary>
        <value>To be added.</value>
        <remarks>
          <para>Si l’objet a été créé dans Microsoft Word, cette propriété renvoie le nombre hexadécimal 4D535744, qui représente la chaîne « MSWD ». Cette valeur peut également être représentée par la constante <b>wdCreatorCode</b>.</para>
          <para>Le <b>créateur</b> de la propriété est principalement conçue pour être utilisée sur Macintosh, où chaque application possède un code de créateur de quatre caractères. Par exemple, Microsoft Word a le code créateur MSWD. Pour plus d’informations sur cette propriété, consultez la référence du langage aide incluse avec Microsoft Office Édition Macintosh.</para>
          <para />
        </remarks>
      </Docs>
    </Member>
    <Member MemberName="Cursor">
      <MemberSignature Language="C#" Value="public Microsoft.Office.Interop.Word.WdCursorType Cursor { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype Microsoft.Office.Interop.Word.WdCursorType Cursor" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.Cursor" />
      <MemberSignature Language="VB.NET" Value="Public Property Cursor As WdCursorType" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Microsoft::Office::Interop::Word::WdCursorType Cursor { Microsoft::Office::Interop::Word::WdCursorType get(); void set(Microsoft::Office::Interop::Word::WdCursorType value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(16)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(16)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>set: System.Runtime.InteropServices.DispId(16)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.Office.Interop.Word.WdCursorType</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Cette propriété renvoie ou définit l’état (forme) du pointeur. Peut être une des opérations suivantes <see cref="T:Microsoft.Office.Interop.Word.WdCursorType" /> constantes : <b>wdCursorIBeam</b>, <b>wdCursorNormal</b>, <b>wdCursorNorthwestArrow</b>ou <b>wdCursorWait</b>.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FreeDiskSpace">
      <MemberSignature Language="C#" Value="public int FreeDiskSpace { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 FreeDiskSpace" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.FreeDiskSpace" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property FreeDiskSpace As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int FreeDiskSpace { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(4)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(4)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Renvoie l'espace disque disponible pour le lecteur actuel, en octets.</summary>
        <value>To be added.</value>
        <remarks>
          <para>
            <b>Remarque</b>  Il existe 1 024 octets dans un kilo-octet et 1 048 576 octets dans un mégaoctet. La valeur de retour maximale de la propriété <b>FreeDiskSpace</b> est 2 147 483 647. Par conséquent, même si vous avez quatre gigaoctets d’espace disque disponible, elle renvoie 2147483647.</para>
          <para />
        </remarks>
      </Docs>
    </Member>
    <Member MemberName="HorizontalResolution">
      <MemberSignature Language="C#" Value="public int HorizontalResolution { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 HorizontalResolution" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.HorizontalResolution" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property HorizontalResolution As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int HorizontalResolution { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(7)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(7)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Cette propriété renvoie la résolution horizontale de l'écran, en pixels.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="LanguageDesignation">
      <MemberSignature Language="C#" Value="public string LanguageDesignation { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string LanguageDesignation" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.LanguageDesignation" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property LanguageDesignation As String" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property System::String ^ LanguageDesignation { System::String ^ get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(6)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(6)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Renvoie la langue définie dans le logiciel système.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MacintoshName">
      <MemberSignature Language="C#" Value="public string MacintoshName { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string MacintoshName" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.MacintoshName" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property MacintoshName As String" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property System::String ^ MacintoshName { System::String ^ get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(14)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(14)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Vous avez demandé de l’aide sur un mot-clé utilisé uniquement sur Macintosh. Pour plus d’informations sur ce mot clé, consultez l’aide incluse avec Microsoft Office Édition Macintosh.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MathCoprocessorInstalled">
      <MemberSignature Language="C#" Value="public bool MathCoprocessorInstalled { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance bool MathCoprocessorInstalled" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.MathCoprocessorInstalled" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property MathCoprocessorInstalled As Boolean" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property bool MathCoprocessorInstalled { bool get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(11)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(11)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
          <b>True</b> si un coprocesseur mathématique est installé sur le système.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MSInfo">
      <MemberSignature Language="C#" Value="public void MSInfo ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void MSInfo() runtime managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Office.Interop.Word.System.MSInfo" />
      <MemberSignature Language="VB.NET" Value="Public Sub MSInfo ()" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; void MSInfo();" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(101)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Démarre les informations système de Microsoft application si elle n’est pas en cours d’exécution ou commutateurs si elle est déjà en cours d’exécution.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="OperatingSystem">
      <MemberSignature Language="C#" Value="public string OperatingSystem { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string OperatingSystem" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.OperatingSystem" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property OperatingSystem As String" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property System::String ^ OperatingSystem { System::String ^ get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(1)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(1)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Renvoie le nom du système d'exploitation actuel (par exemple, « Windows » ou « Windows NT »).</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Parent">
      <MemberSignature Language="C#" Value="public object Parent { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance object Parent" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.Parent" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property Parent As Object" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property System::Object ^ Parent { System::Object ^ get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(1002)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(1002)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Object</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Cette propriété renvoie un objet qui représente l'objet parent de l'objet spécifié.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="PrivateProfileString">
      <MemberSignature Language="C#" Value="public string PrivateProfileString[string FileName, string Section, string Key] { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string PrivateProfileString(string, string, string)" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.PrivateProfileString(System.String,System.String,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Property PrivateProfileString(FileName As String, Section As String, Key As String) As String" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property System::String ^ PrivateProfileString[System::String ^, System::String ^, System::String ^] { System::String ^ get(System::String ^ FileName, System::String ^ Section, System::String ^ Key); void set(System::String ^ FileName, System::String ^ Section, System::String ^ Key, System::String ^ value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(10)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(10)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>set: System.Runtime.InteropServices.DispId(10)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="FileName" Type="System.String" />
        <Parameter Name="Section" Type="System.String" />
        <Parameter Name="Key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="FileName">
          <b>String</b>obligatoire. Nom du fichier de paramètres. S’il n’existe aucun chemin d’accès spécifié, le dossier Windows est supposé.</param>
        <param name="Section">
          <b>String</b>obligatoire. Le nom de la section dans le fichier de paramètres qui contient <paramref name="Key" />. Dans un fichier de paramètres Windows, le nom de la section apparaît entre crochets avant les clés associées (n’incluez pas les crochets avec <paramref name="Section" />). Si vous renvoyez la valeur d’une entrée du Registre Windows, <paramref name="Section" /> doit être le chemin d’accès complet à la sous-clé, y compris la sous-arborescence (par exemple, « \Word\Options HKEY_CURRENT_USER\Software\Microsoft\Office\version »).</param>
        <param name="Key">
          <b>String</b>obligatoire. Paramètre de la clé ou valeur de l'entrée du registre à récupérer. Dans un fichier de paramètres Windows, le nom de la clé est suivi d'un signe égal (=) et du paramètre. Si vous renvoyez la valeur d’une entrée du Registre Windows, <paramref name="Key" /> doit être le nom d’une entrée dans la sous-clé spécifiée par <paramref name="Section" /> (par exemple, « STARTUP-PATH »).</param>
        <summary>Cette propriété renvoie ou définit une chaîne dans un fichier de paramètres ou le Registre Windows.</summary>
        <value>To be added.</value>
        <remarks>
          <para>Vous pouvez écrire du code qui utilise un fichier de paramètres pour stocker et récupérer les paramètres. Par exemple, vous pouvez stocker le nom du document actif lorsque vous quittez Word afin qu’elle peut être rouverte automatiquement la prochaine fois que vous démarrez Microsoft Word. Un fichier de paramètres est un fichier texte avec des informations telles que les informations contenues dans les fenêtres 3.x WIN. Fichier INI.</para>
          <para />
        </remarks>
      </Docs>
    </Member>
    <Member MemberName="ProcessorType">
      <MemberSignature Language="C#" Value="public string ProcessorType { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string ProcessorType" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.ProcessorType" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property ProcessorType As String" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property System::String ^ ProcessorType { System::String ^ get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(2)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(2)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.TypeLibFunc(64)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Renvoie le type du processeur utilisé par le système (par exemple, i486).</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ProfileString">
      <MemberSignature Language="C#" Value="public string ProfileString[string Section, string Key] { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string ProfileString(string, string)" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.ProfileString(System.String,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Property ProfileString(Section As String, Key As String) As String" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property System::String ^ ProfileString[System::String ^, System::String ^] { System::String ^ get(System::String ^ Section, System::String ^ Key); void set(System::String ^ Section, System::String ^ Key, System::String ^ value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(9)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(9)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>set: System.Runtime.InteropServices.DispId(9)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="Section" Type="System.String" />
        <Parameter Name="Key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="Section">
          <b>String</b>obligatoire. Une sous-clé sous la sous-clé « HKEY_CURRENT_USER\Software\Microsoft\Office\version \Word » dans le Registre Windows.</param>
        <param name="Key">
          <b>String</b>obligatoire. Le nom de l’entrée dans la sous-clé spécifiée par <paramref name="Section" /> (par exemple, « BackgroundPrint » dans la sous-clé Options).</param>
        <summary>Cette propriété renvoie ou définit une valeur pour une entrée dans le Registre Windows sous la sous-clé suivante : HKEY_CURRENT_USER\Software\Microsoft\Office\version\Word.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="QuickDrawInstalled">
      <MemberSignature Language="C#" Value="public bool QuickDrawInstalled { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance bool QuickDrawInstalled" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.QuickDrawInstalled" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property QuickDrawInstalled As Boolean" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property bool QuickDrawInstalled { bool get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(15)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(15)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Vous avez demandé de l’aide sur un mot-clé utilisé uniquement sur Macintosh. Pour plus d’informations sur ce mot clé, consultez l’aide incluse avec Microsoft Office Édition Macintosh.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Version">
      <MemberSignature Language="C#" Value="public string Version { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Version" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.Version" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property Version As String" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property System::String ^ Version { System::String ^ get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(3)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(3)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Renvoie le numéro de version du système d'exploitation.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="VerticalResolution">
      <MemberSignature Language="C#" Value="public int VerticalResolution { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 VerticalResolution" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Office.Interop.Word.System.VerticalResolution" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property VerticalResolution As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int VerticalResolution { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Interop.Word</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>System.Runtime.InteropServices.DispId(8)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>get: System.Runtime.InteropServices.DispId(8)</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Renvoie la résolution verticale en pixels.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>